@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
*{
    margin: 0;
    padding: 0;
    color: #f2f2f2;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}
nav {
    background: #222222;
    padding: 10px 40px 10px 70px;
    border: 1px solid #000;
    border-left: none;
    border-right: none;
}
nav ul {
    display: flex;
    list-style: none;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}
nav ul li.logo {
    flex: 1;
    font-size: 30px;
    font-weight: 700;
    cursor: pointer;
}
nav ul div.items{
    padding: 0 25px;
    display: inline-flex;
    
}
nav ul div.items a{
    text-decoration: none;
    font-size: 18px;
    padding: 0 12px;
    
}
nav ul div.items a:hover{
    color: rgb(167, 54, 101);
    
}
nav ul .search-icon{
    height: 40px;
    width: 240px;
    display: flex;
    background: #f2f2f2;
    border-radius: 5px;
}
nav ul .search-icon input{
    height: 100%;
    width: 200px;
    border: none;
    outline: none;
    padding: 0 10px;
    color: #000;
    font-size: 16px;
    border-radius: 5px 0 0 5px;
}
nav ul .search-icon .icon{
    height: 100%;
    width: 40px;
    line-height: 40px;
    text-align: center;
    border: 1px solid #cccccc;
    border-radius: 0 5px 5px 0;
    cursor: pointer;
}
nav ul .search-icon .icon:hover {
    background: #e6e6e6;

}
nav ul .search-icon .icon span{
    color: #222222;
    font-size: 18px;
}
nav ul li.btn {
    font-size: 29px;
    flex: 1;
    padding: 0 40px;
    display: none;
}
nav ul li.btn span{
    height: 42px;
    width: 42px;
    text-align: center;
    line-height: 42px;
    border: 1px solid #151515;
    border-radius: 5px;
    cursor: pointer;
}
nav ul li.btn span.show:before{
    content: '\f00d';
}

@media screen and (max-width: 1052px){
    nav{
        padding: 10px 40px 10px 0px;
    }
    nav ul li.logo{
        display: none;
    }
    nav ul div.items{
        flex: 5;
    }
}
@media screen and (max-width: 767px){
    nav ul li.btn{
        display: block;
        
    }
    nav {
        z-index: 1;
        padding: 9px 40px 9px 0;
        position: fixed;
        top: 0;
        width: 100vw;
        
    }
    nav ul div.items {
        z-index: -1;
        position: fixed;
        top: -220px;
        right: 0;
        width: 100%;
        background: #222222;
        display: inline-block;
        transition: top 1s;  
        opacity: 0; 
    }
    nav ul div.items.show{
        
        top: 60px;  
        opacity: 1;
    }
    nav ul div.items li{
        text-align: center;
        line-height: 30px;
        margin: 30px 0;
    }
    nav ul div.items li a{
        font-size: 19px;
        
    }
}

.card {
    background: #fff;
    border-radius: 2px;
    display: inline-block;
    height: 300px;
    margin: 1rem;
    position: relative;
    width: 300px;
}
[class^="card"]{
    cursor: pointer;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}
[class^="card"]:hover {
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}

:root .foto{
    background-repeat: no-repeat;
    overflow: hidden;
    background-size: cover;
}
.card-1 .foto{
    background-image: url(../Lilura/images/i1.jpg); 
}
.card-2 .foto{
    background-image: url(../Lilura/images/i2.jpg);  
}
.card-3 .foto{
    background-image: url(../Lilura/images/i3.jpg);   
}
.card-4 .foto{
    background-image: url(../Lilura/images/i4.jpg);   
}
.card-5 .foto{
    background-image: url(../Lilura/images/i5.jpg);  
}
.card-6 .foto{
    background-image: url(../Lilura/images/i6.jpg);   
}
.card-7 .foto{
    background-image: url(../Lilura/images/i7.jpg);  
}
.card-8 .foto{
    background-image: url(../Lilura/images/i8.jpg); 
}
.card-9 .foto{
    background-image: url(../Lilura/images/i9.jpg);  
}
.card-10 .foto{
    background-image: url(../Lilura/images/ii10.png);  
}
.card-11 .foto{
    background-image: url(../Lilura/images/i11jpg.jpg);   
}
.card-12 .foto{
    background-image: url(../Lilura/images/i12.jpeg);   
}
.card .foto {
    width: 100%;
    height: 250px;
}
.card p{
    color: #000; 
    font-size: 14px;
}
.card .yazı {
    width: 100%;
    height: 50px;
    display: flex;
    align-items: flex-end;
    justify-content: center;
}
.uzuncard, .uzuncard2 {
    background-size: cover;
    height: 200px;
    width: 100vw;
    margin: 1rem;
    margin-top: 50px;
    margin-bottom: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    transition: all 0.3s cubic-bezier(.25,.8,.25,1); 
}
.uzuncard:hover{
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}
.uzuncard{
    background-image: url(../Lilura/images/Adsız1.png);
}
.uzuncard2{
    background-image: url(../Lilura/images/Adsız2.png);
}
.uzuncard2:hover{
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}
.uzuncard p, .uzuncard2 p{
    font-size: 30px;
    color: #000;
}
.urunler {
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
    margin-bottom: 100px;
    width: 1000px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-flow: row wrap;
    text-align: center; 
    width: min(90%, 70.5rem);
}
@media screen and (max-width: 767px) {
    .card {
        z-index: -2;
  
    }
    .uzuncard {
        width: 100%;
    }
    div.urunler {
        z-index: -2;
        flex-direction: row;       
    }
    .foto {
        background-image: 100%;
    }
}

@media screen and (max-width: 767px){
    .footer-content{
        width: 100%;
    }
}
footer {
    background: #111;
    height: auto;
    width: 100vw;
    font-family: 'Montserrat', sans-serif;
    padding-top: 40px;
    color: #fff;
}
.footer-content{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}
.footer-content h3 {
	font-family: 'Montserrat', sans-serif;
	font-size: 1.8rem;
    font-weight: 400;
    text-transform: capitalize;
    line-height: 3rem;
}
.footer-content p {
    max-width: 500px;
    margin: 10px auto;
    line-height: 28px;
    font-size: 14px;
    font-family: 'Montserrat', sans-serif;	
}
.socials {
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 1rem 0 3rem 0;
}
.socials a i{
    font-size: 3rem;
    transition: color .4s ease;
}
.socials a:hover i{
    color: rgb(167, 54, 101);
}
footer .fa-facebook-square, .fa-twitter-square, .fa-google-plus, .fa-youtube, .fa-linkedin {
    font-size: 48px;
    color: rgb(164, 164, 165);
    padding: 5px;
}
.footer-content ul.socials li a {
    text-decoration: none;
    margin-left: 5px;
}
.footer-bottom{
    width: 100vw;
    padding: 20px 0;
    text-align: center;
    background: #000;
}
.footer-bottom p {
    font-size: 14px;
    word-spacing: 2px;
    text-transform: capitalize;
    color: #fff; 
}
.footer-bottom p span {
    text-transform: uppercase;
    opacity: .4;
    font-weight: 200;
}